alembic
blinker
click
Faker
Flask
Flask-Migrate
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
python-dateutil
six
SQLAlchemy
typing_extensions
Werkzeug
gunicorn