<!DOCTYPE html>
<html>

    <head>
        <title>Add Pizza</title>
    </head>

    <body>
        <h1>Add Pizza</h1>
        <form method="POST" action="{{ url_for('add_pizza') }}">
            <label for="name">Name:</label>
            <input type="text" name="name" required><br><br>
            <label for="ingredients">Ingredients:</label>
            <input type="text" name="ingredients" required><br><br>
            <input type="submit" value="Add Pizza">
        </form>
        <a href="{{ url_for('pizzas') }}">Back to Pizzas</a>
    </body>

</html>